* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background-color: black;
}

section {
    padding: 20px 0px;
}

header {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: 50px;
}

main {
    max-width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.main {
    width: 1320px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main input{
    padding: 8px 20px;
}
main figure {
    flex-basis: 23%;
    margin: 1%;
    position: relative;
}

figure img {
    width: 100%;
}

figure figcaption {
    width: 100%;
    color: white;
    font-size: 25px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    left: 50%;
    padding: 10px 0;
    transform: translateX(-50%);
    background-color: rgba(205, 7, 50, 0.5);
}